:root{
	--body-background-color: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
	--error-number: var(--red-up);
	--error-text: var(--red-down);

}

:root{

	--red-up: #ffc7c7;
	--red-down: #ffecec;
}

html {
	font-size: 100%;
	font-family: var(--font-body);
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


body {
	margin: 0;
	padding: 3rem;
	background: var(--body-background-color);
	//color: var(--body-color);
	display:flex;
	flex-direction: column;
	align-items: center;
	font-weight: 600;
}
